.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 10px;
}

.container {
  background-color: #8fbcbb;
  color: #000000;
  padding: 10px;
  margin: 20px;

  /* Draw a 10px right + bottom to create death, thick terminal style */
  box-shadow: 10px 10px 0px 0px #dcdcdc;
}

.link {
  color: #000000;
  text-decoration: none;
}
